.container #title{
    color:aqua
}
.container ul li:nth-child(1){
    color: brown;
}
.container form input{
    color: blue;
}
.container button{
    color: blue;
}
.parent{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: blue;
}
.parent p{
    line-height: 0;
}